<section class="space-y-8 animate-in fade-in duration-500">
  <div class="flex justify-between items-start">
    <div>
      <span
        class="inline-flex items-center px-3 py-1 rounded-full bg-indigo-500/10 text-indigo-400 text-[10px] font-bold uppercase tracking-widest mb-4 border border-indigo-500/20"
      >
        <span class="w-1.5 h-1.5 rounded-full bg-indigo-500 mr-2 animate-pulse"></span>
        Inventory Monitoring Active
      </span>
      <h1 class="text-6xl font-bold text-white tracking-tight">Book Inventory</h1>
      <p class="text-slate-400 text-lg mt-2 font-medium">Manage 12,482 encrypted asset records.</p>
    </div>

    <div class="flex items-center space-x-4">
      <button
        type="button"
        (click)="toggleModal()"
        class="flex items-center space-x-2 px-6 py-3 bg-indigo-600 hover:bg-indigo-500 text-white rounded-xl shadow-lg shadow-indigo-600/20 transition-all font-bold text-sm"
      >
        <i class="pi pi-plus"></i>
        <span>Add New Book</span>
      </button>
    </div>
    @if (isModalOpen) {
      <app-addbook-modal (close)="toggleModal()"></app-addbook-modal>
    }
  </div>

  <div
    class="bg-white/3 border border-white/10 rounded-3xl p-6 grid grid-cols-12 gap-8 items-center shadow-2xl backdrop-blur-sm"
  >
    <div class="col-span-3">
      <label
        for="categorySelect"
        class="block text-[10px] font-bold text-slate-500 uppercase tracking-widest mb-2 ml-1"
      >
        Category
      </label>

      <div class="relative group">
        <select
          id="categorySelect"
          class="w-full bg-white/5 border border-white/10 rounded-xl py-3 px-4 text-white appearance-none focus:outline-none focus:ring-2 focus:ring-indigo-500/50 cursor-pointer transition-all"
        >
          <option>All Categories</option>
          <option>Philosophy</option>
          <option>Digital Art</option>
        </select>
        <i
          class="pi pi-chevron-down absolute right-4 top-1/2 -translate-y-1/2 text-slate-500 pointer-events-none text-xs"
        ></i>
      </div>
    </div>

    <div class="col-span-5">
      <label class="block text-[10px] font-bold text-slate-500 uppercase tracking-widest mb-2 ml-1"
        >Availability Status</label
      >
      <div class="bg-white/5 border border-white/10 rounded-xl p-1 flex items-center h-12.5">
        <button
          class="flex-1 h-full rounded-lg bg-indigo-600 text-white text-xs font-bold shadow-lg transition-all"
        >
          Available
        </button>
        <button
          class="flex-1 h-full rounded-lg text-slate-400 hover:text-white text-xs font-bold transition-all"
        >
          Borrowed
        </button>
      
      </div>
    </div>

    <div class="col-span-1"></div>

    <div class="col-span-3">
      <label
        class="block text-[10px] font-bold text-slate-500 uppercase tracking-widest mb-2 ml-1 text-right mr-1"
        >Order By</label
      >
      <div class="relative group">
        <select
          id="categorySelect"
          class="w-full bg-white/5 border border-white/10 rounded-xl py-3 px-4 text-white appearance-none focus:outline-none focus:ring-2 focus:ring-indigo-500/50 cursor-pointer transition-all"
        >
          <option>Date Registered</option>
          <option>Alphabetical</option>
          <option>Copy Count</option>
        </select>
        <i
          class="pi pi-chevron-down absolute right-4 top-1/2 -translate-y-1/2 text-slate-500 pointer-events-none text-xs"
        ></i>
      </div>
    </div>
  </div>
  <div class="bg-[#0d0f17] border border-white/5 rounded-4xl overflow-hidden shadow-2xl">
    <div class="p-8 border-b border-white/5 flex justify-between items-center bg-white/1">
      <h3 class="font-bold text-white flex items-center space-x-3">
        <div class="bg-indigo-500/20 p-2 rounded-lg">
          <i class="pi pi-chart-bar text-indigo-400 text-sm"></i>
        </div>
        <span>Recent Asset Registry</span>
      </h3>
    </div>

    <table class="w-full text-left">
      <thead
        class="text-[10px] uppercase text-slate-500 tracking-[0.2em] border-b border-white/5 bg-white/1"
      >
        <tr>
          <th class="px-8 py-5">Asset Reference</th>
          <th class="px-8 py-5">Secure ID / ISBN</th>
          <th class="px-8 py-5 text-center">Availability</th>
          <th class="px-8 py-5 text-right">Operations</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-white/5 text-sm">
        @for (book of filteredBooks; track book.id) {
          <tr class="hover:bg-white/2 transition-colors group">
            <td class="px-8 py-6">
              <div class="flex items-center space-x-4">
                <div
                  class="w-10 h-12 rounded-lg bg-[#f3e9d2] shadow-inner shrink-0 border border-black/5"
                ></div>
                <div>
                  <div class="font-bold text-white">{{ book.title }}</div>
                  <div class="text-[10px] text-slate-500 uppercase tracking-tighter mt-0.5">
                    Category: {{ book.category }}
                  </div>
                </div>
              </div>
            </td>
            <td class="px-8 py-6 text-slate-400 font-mono text-xs tracking-tight">
              {{ book.isbn }}
            </td>
            <td class="px-8 py-6">
              <div class="flex justify-center">
                <span
                  [ngClass]="{
                    'bg-green-500/10 text-green-500 border-green-500/20': book.available_copies > 0,
                    'bg-amber-500/10 text-amber-500 border-amber-500/20':
                      book.available_copies === 0,
                  }"
                  class="px-4 py-1.5 rounded-lg text-[9px] font-black uppercase tracking-widest border"
                >
                  {{ book.available_copies }}
                </span>
              </div>
            </td>
            <td class="px-8 py-6 text-right">
              <button
                type="button"
                aria-label="More options"
                class="text-slate-500 hover:text-white transition-colors p-2"
              >
                <i class="pi pi-ellipsis-v"></i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <div class="p-6 text-center border-t border-white/5 bg-white/1">
      <button
        class="text-[10px] font-bold text-slate-500 uppercase tracking-[0.3em] hover:text-indigo-400 transition-colors"
      >
        View All Archive Records
      </button>
    </div>
  </div>
</section>
