<aside class="w-64 h-screen bg-[#0d0f17] border-r border-white/5 flex flex-col p-6 fixed">
  <div class="flex items-center space-x-3 mb-10">
    <div
      class="w-10 h-10 bg-indigo-600 rounded-xl flex items-center justify-center shadow-lg shadow-indigo-600/20"
    >
      <i class="pi pi-building text-white text-xl"></i>
    </div>
    <div>
      <h2 class="text-white font-bold leading-tight">The Vault</h2>
      <p class="text-[10px] text-indigo-400 font-bold uppercase tracking-widest">Security Suite</p>
    </div>
  </div>

  <nav class="grow space-y-2">
    <a
      routerLink="/dashboard"
      class="flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-400 hover:bg-white/5 transition-all"
    >
      <i class="pi pi-grid"></i> <span>Dashboard</span>
    </a>

    <a
      routerLink="/circulation"
      class="flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-400 hover:bg-white/5"
    >
      <i class="pi pi-users"></i> <span>Circulation</span>
    </a>
    <a
      routerLink="/admin-inventory"
      routerLinkActive="bg-indigo-600/10 text-indigo-400 border border-indigo-600/20"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-400 hover:bg-white/5 transition-all"
    >
      <i class="pi pi-book"></i>
      <span>Inventory</span>
    </a>

    <a
      routerLink="/students"
      class="flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-400 hover:bg-white/5"
    >
      <i class="pi pi-users"></i> <span>Students</span>
    </a>

    <a
      routerLink="/clearance"
      class="flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-400 hover:bg-white/5 transition-all"
    >
      <i class="pi pi-users"></i> <span>Clearance</span>
    </a>
    <a
      routerLink="/staff"
      class="flex items-center space-x-3 px-4 py-3 rounded-xl text-slate-400 hover:bg-white/5 transition-all"
    >
      <i class="pi pi-users"></i> <span>Staff</span>
    </a>
  </nav>

  <div class="mt-auto space-y-4">
    <button
      class="flex items-center space-x-3 px-4 py-2 text-slate-500 text-sm hover:text-white transition-colors"
    >
      <i class="pi pi-sign-out"></i> <span>Sign Out</span>
    </button>
  </div>
</aside>
